.favourites {
  position: fixed;
  top: 0;
  left: 0;
  height: 85vh;
  width: 25vw;
  overflow: scroll;
  background: $sec-color;
  z-index: 1;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  h2 {
    text-align: center;
    padding: 1rem 0;
  }
}

.favourites.active {
  transform: translateX(0%);
}

.favourite-card {
  @include flex(column, center, center);
  transition: all 0.3s ease;
  padding: 1rem 0;
  &:hover {
    scale: 1.1;
  }
  img {
    width: 50%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .favourites {
    width: 50vw;
  }
}
