.library {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  place-content: center;
  padding-bottom: 15vh;
}

.song-card {
  text-align: center;
  position: relative;
  background: $sec-color;
  &:hover {
    background: $main-color;
    outline: 2px solid $sec-color;
    h3,
    h4 {
      color: $sec-color;
    }
  }
  img {
    width: 100%;
    object-fit: cover;
  }
  .icon {
    position: absolute;
    top: 10%;
    right: 10%;
    color: $sec-color;
    background: $main-color;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.song-card.active {
  background: $main-color;
  outline: 2px solid $sec-color;
  h3,
  h4 {
    color: $sec-color;
  }
}
