$main-color: #222326;
$sec-color: #fafafa;
$highlight-color: #e4abf7;

$h1: 2.6rem;
$h2: 2rem;
$h3: 1.75rem;
$h4: 1.6rem;
$h5: 1.2rem;
$h6: 1rem;

.App {
  min-height: 100vh;
  width: 100vw;
  background: $main-color;
  color: $sec-color;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@import "global";
@import "nav";
@import "favourites";
@import "library";
@import "player";
